@model CRMHub.EntityFramework.Branch
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    
    <title>

    </title>

</head>



    <body>
        <div id="content-wrapper">
            <div id="CustomBootstrapAlertBox">
            </div>
            <div class="row">
                

                    <div class="panel">

                        <div class="panel-heading">
                            <div class="row">
                                <!-- Page header, center on small screens -->
                                <h1 class="col-xs-6 col-sm-4 text-left text-left-sm panel-title"><i class="fa fa-users page-header-icon"></i>&nbsp;<label id="lblHeading"> Company News</label></h1>
                                <div class="col-xs-6 col-sm-8">
                                    <div class="row">
                                        <div class="pull-right">
                                            @*<a href="#" class="btn btn-flat btn-labeled btn-primary" tabindex="-1"
                                               data-toggle="modal" data-target="#uidemo-modals-alerts-info"><span class="btn-label icon fa fa-question-circle"></span>Help</a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="panel-body">
                            

                            <div class="row">
                               
                                    <!-- Tabs -->


                                    <div class="tab-pane" id="bs-tabdrop-tab3">
                                        <div class="row">


                                            <!-- col-sm-6 -->
                                            <div class="col-sm-12" id="pnlSrchCriteria">
                                                <div class="col-sm-3">
                                                    <div class="form-group no-margin-hr">
                                                        <label class="control-label">Office :</label>
                                                      
                                                        @Html.DropDownListFor(m => m.BranchName, new SelectList(Model.BranchesList, "branchId", "branchName"), new { @class = "form-control input-sm", @id = "ddlbranches" })
                                                    </div>
                                                </div>
                                            </div>




                                            
                                            <div class="col-sm-12" id="filter"></div>



                                            <div class="col-sm-12" id="divtohide">

                                                <div class="col-sm-12" style="background-color: #f5f5f5; padding-top: 6px; padding-bottom: 6px; text-align: right;">
                                                    <ul class="table-nav-item">
                                                        <li>
                                                        <li class="btn btn-flat btn-labeled btn-primary" style=" float:left; margin-left:3px;">
                                                            
                                                            <a style="color: #fff; text-decoration: none; padding: 0px; font-weight: normal" href="@Url.Action("CreateCompanyNews", "CompanyNews")">
                                                                <span class="btn-label icon  fa fa-plus-circle" style="margin-right:6px;"> </span>
                                                                 Add New
                                                            </a>
                                                           

                                                        </li>

                                                        <li class="btn btn-flat btn-labeled btn-primary" style=" float:left; margin-left:3px;">
                                                            
                                                            <a style="color: #fff; text-decoration: none; padding: 0px; font-weight: normal" id="btnDeleteCompNews" >
                                                                <span class="btn-label icon  fa  fa-trash-o" style="margin-right:6px;"> </span>
                                                                 Delete
                                                            </a>
                                                           
                                                        </li>


                                                    </ul>
                                                </div>

                                            </div>


                                            <div class="row">
                                                <div class="col-sm-12" style="width: 98%; margin-left: 10px;">
                                                    <div class="table-primary table-striped">

                                                        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="tblCompanyNews" width="100%">
                                                            <thead>
                                                                <tr>


                                                                    <th><input type="checkbox" name="chkAll" id="chkHeader" /></th>

                                                                    <th data-hide="tablet,tabletlandscape,phone">News Id</th>
                                                                    <th data-class="expand">Head Line</th>
                                                                    <th data-hide="tablet,tabletlandscape,phone">Status</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>

                                                    </div>
                                                
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                 



                            </div>
                        </div>
                     
                </div>
                <!-- /11. $BOOTSTRAP_TAB_DROP -->
                <!-- / Info -->
            </div>
        @*</div>*@

        <div id="MdlAlert" class="modal" tabindex="-1" role="dialog" style="display: none; overflow: hidden; padding-top: 0px; width: 100%; height: 100%;">
            <div class="modal-dialog" style="width: 99%; margin-left: 421px; margin-top: 165px;">
                <div class="modal-content" style="width: 22%; height:15%">
                    <div class="modal-header">
                   
                        <span style="float:right;margin-top:-9px"><label id="XbtnClose">X</label></span>
                      
                        <h4 class="modal-title">Delete News?</h4>

                    </div>
                    <div class="modal-body" style="display: inline-block; height: 73px">
                        <p>Are you sure you want to delete selected records? </p>

                    </div>

                    <div class="modal-footer">

                      
                        <span><button id="btnCancel">Cancel</button></span>
                        <span><button id="btnok">OK</button></span>
                
                    </div>
                </div>

            </div>

        </div>
        <div id="overlaydiv" class="Overlay" style="display: none; overflow: hidden"></div>

    </body>

</html>
<style>
    .DT-search, .DT-search input {
        display: none;
    }

    .DT-per-page {
        border-right: 1px solid #eee;
        margin-right: -1px;
        height: 23px;
        padding-right: 15px;
        white-space: nowrap;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        
        $('#loading').css('display','block');
        BindNewsList();


        //ChangeOffice("0");
        $('#tblCompanyNews').on('length.dt', function (e, settings, len) {
            
            $('#loading').css('display', 'block');
           
        });


        $('#tblCompanyNews').on('page.dt', function () {
            
            $('#loading').css('display', 'block');
           
        });
        $('#loading').css('display', 'none');
    });
    $("#ddlbranches").change(function () {
        $('#loading').css('display', 'block');
        $('#tblCompanyNews').dataTable().fnDestroy();
        BindNewsList();
        $('#loading').css('display', 'none');
    });

    function BindNewsList() {
        
        var responsiveHelper = undefined;
        var breakpointDefinition = {
            tablet: 1024,
            tabletlandscape: 768,
            phone: 480
        };
        var tableElement = $('#tblCompanyNews');

        tableElement.dataTable({
            autoWidth: false,

            preDrawCallback: function () {
                if (!responsiveHelper) {
                    responsiveHelper = new ResponsiveDatatablesHelper(tableElement, breakpointDefinition);
                }
            },
            rowCallback: function (nRow) {
                responsiveHelper.createExpandIcon(nRow);
            },
            drawCallback: function (oSettings) {
                responsiveHelper.respond();
            },
            //"order": [[$("#HD_SortValue").val(), "" + $("#HD_SortDirection").val() + ""]],
            "aLengthMenu": [[10, 25, 50], [10, 25, 50]],
            //"iDisplayStart": parseInt($("#HD_PageIndex").val()),
            //"iDisplayLength": parseInt($("#HD_PageSize").val()),
            //"oSearch": { "sSearch": $("#HD_SearchString").val() },

            "pagingType": "full_numbers",
            //"processing": true,
            "bFilter": false,
            "serverSide": true,

            "sAjaxSource": "CompanyNews/GetCompanyNews",
            "fnServerParams": function (aoData) {
                aoData.push(
                    { "name": "ContactBranch", "value": "" + $("#ddlbranches").val() + "" }


                    );

            },
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success":
                                function (msg) {
                                    //var json = jQuery.parseJSON(msg.d);
                                    fnCallback(msg);
                                    //$("#jq-datatables-example").show();
                                }
                });
            },
            "asStripeClasses": ['odd gradeX', 'even gradeC'],
            "aoColumnDefs": [
                {
                    "targets": [0], "visible": true, "bSortable": false,
                    "render": function (data, type, row) {
                        return "<input type=\"checkbox\"name=\"chkitems\" class=\"case\" id=\"chkRow_" + row["NewsId"] + "\"  data-NewsId=\"" + row["NewsId"] + "\" />";
                    }
                },
                { "targets": [1], "visible": true, "bSortable": true, "mDataProp": "NewsId" },
                {

                    "targets": [2], "visible": true, "bSortable": true, "mDataProp": "NewsHeadLine",
                    "render": function (data, type, row) {
                        return "<a href=\"#\" onclick=\"OpenDetail('" + row["NewsId"] + "');\">" + row["NewsHeadLine"] + "</a>";
                    }
                },
                { "targets": [3], "visible": true, "bSortable": true, "mDataProp": "IsActive" },
            ],
            "fnDrawCallback": function (oSettings) {
                $('#loading').css('display', 'none');
                
            }
        }).api();


        $('#tblCompanyNews_wrapper .table-caption').text('');

        $('#tblCompanyNews_wrapper .dataTables_filter input').attr('placeholder', 'Search...');

       


    }
 

    $("#chkHeader").click(function () {
       
        $(".case").prop("checked", this.checked);
    });
    // if all checkbox are selected, check the selectall checkbox
    // and viceversa
    $('#tblCompanyNews tbody').click(function () {
        
        if ($('#tblCompanyNews input[name="chkitems"]:checked').length == $('#tblCompanyNews input[name="chkitems"]').length) {
            $("#chkHeader").prop("checked", true);
        } else {
            $("#chkHeader").prop("checked", false);
        }
    });

    $("#btnDeleteCompNews").click(function (e) {
        
        e.preventDefault();
        e.stopPropagation();
        var searchIdValues = new Array();
        var checkedids = $('#tblCompanyNews').find("input[name='chkitems']:checked").length;
        
        if (checkedids > 0)
        {
            $('#tblCompanyNews input[name="chkitems"]:checked').each(function () {
               
                searchIdValues.push($(this).attr('data-NewsId'));
            })
            $('#overlaydiv').show();
            $("#MdlAlert").show();
        }
        else
        {
            alert("Please select item(s) to delete.");
        }
        
    });
    $("#btnok").click(function(e){
        
        e.preventDefault();
        e.stopPropagation();
        $('#loading').css('display', 'none');
        $('#overlaydiv').hide();
        $("#MdlAlert").hide();
        
        var searchIDsValues = new Array();
        var checkedids = $('#tblCompanyNews').find("input[name='chkitems']:checked").length;
        
       
       
        $('#tblCompanyNews input[name="chkitems"]:checked').each(function () {
               
                searchIDsValues.push($(this).attr('data-NewsId'));
            })
        
            
            $.ajax({
                url: "CompanyNews/DeleteCompanyNews",
                type: "POST",
                cache: "false",
                data: { NewsIds: searchIDsValues.toString() },
                success: function (data) {
                    
                    if (data == "True") {
                        window.location.href = window.location.href;
                        //alert("Deleted Successfully")
                        $.growl.notice({ title: "Success", message: "News Deleted Successfully.", size: 'large' });
                    }
                    else {
                        $.growl.notice({ title: "Fail", message: "News Not Deleted .", size: 'large' });
                    }
                },
                error: function (request, status, error) {
                }
            });
        
       
        
        
    });
           
          
    
    $("#btnCancel").click(function (e) {
        
        e.preventDefault();
        e.stopPropagation();
        $('#loading').css('display', 'none');
        $("#MdlAlert").hide();
       
    });
    

   
    function OpenDetail(NewsId) {
        window.location = "CompanyNews/EditCompanyNewsDetails?NewsId=" + NewsId;
    }


    

    </script>
